* {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: rgb(44, 87, 90);
}

.jumbotron {
    color: white;
    text-align: center;
    background-image: linear-gradient(#383737a4, rgba(14, 141, 141, 0.692) ), url("https://cdn.pixabay.com/photo/2016/02/19/11/25/business-1209705_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    line-height: 2rem;
  }

#instaIcon, #linkIcon, #gitIcon {
  background: #ff6363;
  border-radius: 10%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #9e7f7f;
  text-align: center;
}
 
.navbar {
  position: absolute;
  top: 0;
}

.little-header {
  font-family: 'Playball', cursive;
  color: teal;
  font-size: 1.5rem;
}

a {
  color: white;
}

.profile-img {
    border: 8px solid white;
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    /* -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
    
}
.works-img {
  border: 5px solid teal;
}

.icon-menu, i{
    font-size: 2rem;
    margin: .5rem;
    color: rgba(255, 255, 255, 0.521);
    
    
}

ul.icon-menu {
  padding-inline-start: 0px;
  
}
li, a {
  display: inline;
}

.jumbo {
  margin-top: 10rem;
  
}

.skills {
  background-image: linear-gradient(#2ef0f093, #1d1c1cc7), url("https://images.unsplash.com/photo-1571974096020-5c2775ac5d47?ixid=MXwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDJ8fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.fa-chevron-down {
  color: #ff6363;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: 5;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}
.section {
  text-align: center;
}

.project-images {
  object-fit: cover;
  
}

@media only screen and (max-width: 600px) {
.display-4 {
  font-size: 2rem;
}
}